{% extends 'anime_reviews/base.html' %}
{% block content %}
{% if user.is_authenticated %}
    <h1>Welcome to your profile page</h1>
{% else %}
    <h1>Welcome to {{ user.username }}'s profile</h1>

{% endif %}
    <a href="{% url 'anime_reviews:edit_profile' %}"><span class="glyphicon glyphicon-pencil" id="edit_profile"></span></a>

<p>Here is the future club member profile</p>
    <p>Member since: {{ user.date_joined }}</p>
    {% if profile %}
        <p>Member photo: <span id="member_photo">{{ profile.photo }}</span></p>
        <p>Bio: {{ profile.bio }}</p>
    {% else %}
        <p>Update your profile so other club members can see what you are about</p>
    {% endif %}
<P>Latest reviews: </P>

{% if reviews %}
    <div class="container">
    {% for r in reviews %}
        <div class="well well-md">
            <h2><a href="{% url 'anime_reviews:review_detail' review_id=review.id %}">{{ r.anime_title }}</a></h2>
            <p>Episode: {{ r.episode }}<</p>
            <p>Comments: {{ r.comments|truncatewords:30 }}</p>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>You have no reviews yet!</p>
{% endif %}

{% endblock %}

