{% extends 'anime_reviews/base.html' %}
{% block content %}
{% if request.user.is_authenticated %}
    <div class="well well-lg">
    <h1>Welcome to your profile page</h1>
    <a href="{% url 'anime_reviews:edit_profile' %}"><span class="glyphicon glyphicon-pencil" id="edit_profile"></span></a>
{% else %}
    <h1>Welcome to {{ user.username }}'s profile</h1>
{% endif %}

    <p>Member since: {{ user.date_joined }}</p>
    {% if profile %}
        {% if profile.photo %}
            <p>Member photo: <span id="member_photo">{{ profile.photo }}</span></p>
        {% else %}
            <p>No member photo</p>
        {% endif %}
        <p>Bio: {{ profile.bio }}</p>
    {% else %}
        <p>Update your profile so other club members can see what you are about</p>
    {% endif %}
</div>


<div class="well well-lg">
    <P>Latest reviews: </P>

    {% for r in reviews %}

            <h2><a href="{% url 'anime_reviews:anime_detail' anime_id=r.anime_id %}">{{ r.anime_title }}</a></h2>
            <p>Episode: {{ r.episode }}</p>
            <p>Comments: {{ r.comments|truncatewords:30 }}</p>
        <p><a href="{% url 'anime_reviews:review_detail' review_id=r.id %}">Details</a></p>

    {% empty %}
        <p>You have no reviews yet!</p>
    {% endfor %}

</div>


{% endblock %}

