{% extends 'anime_reviews/base.html' %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="well">
    <form id="anime_search_form" action="{% url 'anime_reviews:anime_search' %}" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
        {% for show in shows %}
            <a href="{% url 'anime_reviews:anime_detail' anime_id=show.mal_id %}">{{ show.title }}</a>
            <p> Synopsis: {{ show.synopsis|truncatewords:30 }}</p>
            <hr>
        {% empty %}
            <div>Search for an anime tv show</div>
        {% endfor %}
    </div>
    <hr>
    <div class="well">
        <P>Latest Reviews</P>
        {% for r in reviews %}
            <P>Posted date: {{ r.posted_date }}</P>
            <h2><a href="{% url 'anime_reviews:review_detail' review_id=review.id %}">{{ r.anime_title }}</a></h2>
            <p>Episode: {{ r.episode }}<</p>
            <p>Comments: {{ r.comments|truncatewords:30 }}</p>
        {% empty %}
            <h2>No notes.</h2>
        {% endfor %}
    </div>



{% endblock %}