body {
  font-family: monospace;
  padding: 10px;
}

#welcome_user_msg, #login_or_sign_up, #edit_profile{
    position: absolute;
    right: 0px;
    padding-right: 10px;
}
#anime_search_form{
    position: center;
}

#edit_profile{
    padding-right: 10px;
    size: 12px;
}